h1{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body{
	background-color: #2B9DD7;
	font-family: 'Slabo 27px', serif;
	font-size: 1.2em;
	color: white;	
}

section{
	text-align: center;
}

#personal_info{
	border-radius: 10px;
}

#feet,#inches,#miles,#current_weight,#target_weight,#age,#days{
	width: 40px;
	font-family: 'Roboto', sans-serif;	
	font-weight: bold;
	font-size: 20px;
}

input{
		border-radius: 10px;
}

#signout{
	text-align: right;
	margin-top: -60px;
	padding: 10px;
}

a{
	text-decoration: none;
	color: white;
}